.wrapperrr {
    width: 6000px;
    margin: auto;
    background: black;
    border: 1px solid black;
    padding: 20px 30px;
}

.scroll {
  font-size: 30px;
  font-size: bold;  
  color: red;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;    
}
.scroll:hover {
  color: gray;
  cursor: pointer;  
}
.left-scroll { 
    position: relative;
    z-index: 10;
    left: -20px;
    top: 77px;
}    
.right-scroll { 
    position: relative;
    z-index: 10;
    left: 550px;
    top: 77px;
}    